@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url(./src/fonts/ibm-plex-mono.woff), url(.src/fonts/ibm-plex-mono.woff2);
}

@font-face {
  font-family: 'Young Serif';
  src: url(./src/fonts/youngserif.woff), url(.src/fonts/youngserif.woff2);
}

body {
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #2a2a2a;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100vh;
  background-color: #00b98d;
  color: #fff;
  font-family: 'Young Serif', serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: left 0.5s;
  z-index: 1;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 5px 32px;
}

nav.open {
  left: 0;
}

main {
  position: relative;
  z-index: 2;
  background-color: #fff;
  min-height: 100vh;
  transition: transform 0.5s;
}

main.open {
  transform: translate(240px, 0);
}

a.toggle-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px 24px;
  cursor: pointer;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section div {
  width: 350px;
}

section div.content {
  margin-left: 60px;
}

h1 {
  font-family: 'Young Serif', serif;
  font-size: 48px;
  line-height: 1.2;
}

p {
  margin: 20px 0;
}

a.button {
  display: inline-block;
  background-color: #00b98d;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
}

div.slides {
  position: relative;
  height: 475px;
}

div.slides img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s, box-shadow 0.5s;
}

div.slides img:first-child {
  z-index: 1;
}

div.slides:hover img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
